# <font color = 'green'>Data Science Academy - Python Fundamentos </font>

# <font color = 'blue'>Capítulo 02 - String </font>

# Criando uma string

Para criar uma string em python, pode-se usar aspas simples ou duplas.

In [1]:
# Uma única palavra

'Oi'

'Oi'

In [2]:
# Uma frase

"Estou aprendendo Python Fundamentos para me tornar um cientista de dados."

'Estou aprendendo Python Fundamentos para me tornar um cientista de dados.'

In [3]:
# Pode-se combinr aspas simples com aspas duplas

"Meu objeto é ser 'CIENTISTA DE DADOS'"

"Meu objeto é ser 'CIENTISTA DE DADOS'"

In [4]:
# Imprimindo uma string

print('Estudando Python na Data Science Academy')

Estudando Python na Data Science Academy

In [5]:
print("Estudando nova graduação em matemática na UNIP")

Estudando nova graduação em matemática na UNIP

In [6]:
print('Com muita dedicação \n\nEu serei um cientista de dados de sucesso.')

Com muita dedicação

Eu serei um cientista de dados de sucesso.

# Indexando string

In [7]:
# Atribuindo uma string

frase = 'Data Science Academy'

In [8]:
print(frase)

Data Science Academy

In [9]:
# Primeiro elemento da string ( lembrando-se que inicia com zero o vetor computacional)

frase[0]

'D'

In [10]:
# Sexto elemento da string ( lembrando-se que inicia com zero o vetor computacional)

frase[5]

'S'

In [11]:
# Décimo quarto elemento da string ( lembrando-se que inicia com zero o vetor computacional)

frase[13]

'A'

Pode-se utilizar o sinal de 'dois pontos' para executar um slicing que faz a leitura de tudo até um ponto designado.

In [12]:
#  Retorna todos os elementos da string, começando pela posição (lembrando-se que inicia com zero o vetor computacional),
# até o final da string

frase[2 :]

'ta Science Academy'

In [13]:
# A string original permanece inalterada

frase

'Data Science Academy'

In [14]:
# Retorna tudo até a posição 8

frase[: 8]

'Data Sci'

In [15]:
frase[:]

'Data Science Academy'

In [16]:
# É possível usar a indexação negativa, ou seja, ler de trás pra frente

frase[-1]

'y'

 É possível utilizar a notação de indece e fatiar a string em pedaços específicos (o padrão é 1). 
 Pode-se utilizar (dois pontos duas vezes) em uma linha e, em seguida, um número que especifica a frequencia para 
retornar o elemento

In [17]:
frase[::1]

'Data Science Academy'

In [18]:
frase[::2]

'Dt cec cdm'

In [19]:
frase[::-1]

'ymedacA ecneicS ataD'

# Propriedades de string

In [20]:
frase

'Data Science Academy'

In [21]:
# Alterando um caracter

frase[0] = 'X'

TypeError: 'str' object does not support item assignment

In [22]:
# Concatenando uma string

frase + ': é uma escola online de tecnologia.'

'Data Science Academy: é uma escola online de tecnologia.'

In [23]:
frase = frase + ': é uma escola online de tecnologia.'

In [24]:
print(frase)

Data Science Academy: é uma escola online de tecnologia.

 Pode-se utilizar o simbolo de multiplicação para criar repetição

In [25]:
letra = 'W'

In [26]:
letra * 3

'WWW'

# Funções Built-in de Strings

In [27]:
frase

'Data Science Academy: é uma escola online de tecnologia.'

In [28]:
# Deixa todos os caracteres em letra maiúscula
frase.upper()

'DATA SCIENCE ACADEMY: É UMA ESCOLA ONLINE DE TECNOLOGIA.'

In [29]:
# Deixa todos os caracteres em letra minúscula
frase.lower()

'data science academy: é uma escola online de tecnologia.'

In [30]:
# Dividindo uma string por espaços em branco (padrão)
frase.split()

['Data',
 'Science',
 'Academy:',
 'é',
 'uma',
 'escola',
 'online',
 'de',
 'tecnologia.']

In [31]:
# Dividir uma string por um elemento específico
frase.split('y')

['Data Science Academ', ': é uma escola online de tecnologia.']

# Funções String

In [32]:
frase = 'estou adorando o universo Phyton'

In [33]:
# Transforma apenas o primeiro caracter em maiúsculo
frase.capitalize()

'Estou adorando o universo phyton'

In [34]:
# Conta quantas vezes o caracter 'o' aparece na frase
frase.count('o')

6

In [36]:
# Procura a letra 'n' na frase e localiza a posição (o primeiro caracter encontrado)
frase.find('n')

11

In [44]:
# Verifica se a string possui caracter em letra minúscula
frase.islower()

False

In [38]:
# Verifica se a string é espaço
frase.isspace()

False

In [41]:
# Verifica se a frase termina com a letra 'o'
frase.endswith('o')

False

# Comparando String

In [42]:
print('Phyton' == 'R')

False

In [43]:
print('Phyton' == 'Phyton')

True

# FIM