# <font color = 'green'>Data Science Academy - Python Fundamentos</font>

# <font color = 'blue'>Capítulo 02 - Estrutura de Dados - Listas</font>

# LISTAS

In [1]:
# Criando uma lista (Com um elemento)

listamercado = ['leite, macarrão, açucar, achocolatado, extrato de tomate, arroz, feijão, carne']

In [2]:
# Imprimindo a lista

print(listamercado)

['leite, macarrão, açucar, achocolatado, extrato de tomate, arroz, feijão, carne']

In [3]:
# Criando outra lista (com 7 elementos)

listamercado2 = ["ovo", "farinha", "fermento", "manteiga", "queijo", "presunto", "sal"]

In [4]:
# Imprimindo a lista

print(listamercado2)

['ovo', 'farinha', 'fermento', 'manteiga', 'queijo', 'presunto', 'sal']

In [5]:
listamercado[0]

'leite, macarrão, açucar, achocolatado, extrato de tomate, arroz, feijão, carne'

In [6]:
listamercado2[0]

'ovo'

In [7]:
# Criando lista

lista3 = [10, 545, "Universidade"]

In [8]:
# Imprimindo lista

print(lista3)

[10, 545, 'Universidade']

In [9]:
# Atribuindo cada valor a uma variável

item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [10]:
# Imprimindo os valores

print(item3, item2, item1)

Universidade 545 10

# Atualizando um item da lista

In [11]:
# Imprimindo um item da lista

listamercado2[2]

'fermento'

In [12]:
# Atualizando um item da lista

listamercado2[2] = "abacaxi"

In [13]:
# Imprimindo a lista atualizada

listamercado2

['ovo', 'farinha', 'abacaxi', 'manteiga', 'queijo', 'presunto', 'sal']

# Deletando um item da lista

In [14]:
# OUT OF INDEX, não é possível deletar um item que não existe na lista

del listamercado2[7]

IndexError: list assignment index out of range

In [15]:
# Deletando um item específico da lista

del listamercado2[3]

In [16]:
# Imprimindo a lista alterada

listamercado2

['ovo', 'farinha', 'abacaxi', 'queijo', 'presunto', 'sal']

# Listas de Listas ( listas aninhadas )

listas de listas são matrizes em Python

In [17]:
# Criando uma lista de listas 

listas = [ [1, 2, 3], [3, 2, 1], [10, 11, 12, 13] ]

In [18]:
# Imprimindo a lista

listas

[[1, 2, 3], [3, 2, 1], [10, 11, 12, 13]]

In [19]:
# Atribuindo um item da lista a uma variável

a = listas[0]

In [20]:
a

[1, 2, 3]

In [21]:
b = a[0]

In [22]:
b

1

In [23]:
list = listas[1]

In [24]:
list

[3, 2, 1]

In [25]:
valor_1_0 = list[0]

In [26]:
valor_1_0

3

In [27]:
valor_1_2 = list[2]

In [28]:
valor_1_2

1

# Operações com listas

In [29]:
# Criando uma lista aninhada (lista de listas)

listas = [ [99, 11, 55, 77], [77, 88, 11], [1, 5, 9, 7, 5, 3] ]

In [30]:
# Atribuindo a variável "a" no primeiro valor da primeira lista

a = listas[0][0]

In [31]:
a

99

In [32]:
b = listas[1][2]

In [33]:
b

11

In [34]:
c = listas[0][2] + 190

In [35]:
c

245

In [36]:
d = 10

In [37]:
d

10

In [38]:
e = d * listas[2][0]

In [39]:
e

10

# Concatenando listas

In [40]:
list_1 = [10, 20, 30]

In [41]:
list_1

[10, 20, 30]

In [42]:
list_2 = [30, 20, 10]

In [43]:
list_2

[30, 20, 10]

In [44]:
# Concatenando as listas

lista_total = list_1 + list_2

In [45]:
lista_total

[10, 20, 30, 30, 20, 10]

# Operador IN

In [46]:
# Criando uma lista

lista_teste_op = [100, 2, -5, 3.4]

In [47]:
# Verificando se o valor 10 pertence a lista

print(10 in lista_teste_op)

False

In [48]:
# Verificando se o valor -5 pertence a lista

print(-5 in lista_teste_op)

True

# Funções BUILT-IN

In [49]:
# Função LEN(), retorna o comprimento da lista

len(lista_teste_op)

4

In [50]:
# Função MAX(), retorna o valor máximo da lista

max(lista_teste_op)

100

In [51]:
# Função MIN(), retorna o valor mínimo da lista

min(lista_teste_op)

-5

In [52]:
# Criando uma nova lista

listaprogramas = ["Power BI", "Cassanda", "MongoDB", "Python", "Hive", "HBase"]

In [53]:
listaprogramas

['Power BI', 'Cassanda', 'MongoDB', 'Python', 'Hive', 'HBase']

In [54]:
# Adicionando um item na lista

listaprogramas.append("HBase")

In [55]:
listaprogramas

['Power BI', 'Cassanda', 'MongoDB', 'Python', 'Hive', 'HBase', 'HBase']

In [56]:
listaprogramas.count("Mongodb")

0

In [57]:
listaprogramas.count("MongoDB")

1

In [58]:
# Criando uma lista vazia

a = []

In [59]:
print(a)

[]

In [60]:
type(a)

list

In [61]:
a.append(10)

In [62]:
type(a)

list

In [63]:
a.append(50)

In [64]:
a

[10, 50]

In [65]:
old_list = [1, 2, 3, 4]

In [66]:
new_list = []

In [67]:
# Copiando os itens de uma lista para outra

for item in old_list:
    new_list.append(item)

In [68]:
new_list

[1, 2, 3, 4]

In [70]:
cidades = ['Sao Paulo', 'Curitiba', 'Porto Alegre', "Fortaleza"]
cidades.extend(["Palmas", 'Minas Gerais'])
print(cidades)

['Sao Paulo', 'Curitiba', 'Porto Alegre', 'Fortaleza', 'Palmas', 'Minas Gerais']

In [71]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [72]:
cidades

['Sao Paulo',
 'Curitiba',
 'Porto Alegre',
 'Fortaleza',
 'Palmas',
 'Minas Gerais']

In [73]:
cidades.insert(4, 'Manaus')

In [74]:
cidades

['Sao Paulo',
 'Curitiba',
 'Porto Alegre',
 'Fortaleza',
 'Manaus',
 'Palmas',
 'Minas Gerais']

In [75]:
cidades.remove('Rio de Janeiro')

ValueError: list.remove(x): x not in list

In [76]:
cidades

['Sao Paulo',
 'Curitiba',
 'Porto Alegre',
 'Fortaleza',
 'Manaus',
 'Palmas',
 'Minas Gerais']

In [77]:
# Reverte a ordem da lista

cidades.reverse()

In [78]:
cidades

['Minas Gerais',
 'Palmas',
 'Manaus',
 'Fortaleza',
 'Porto Alegre',
 'Curitiba',
 'Sao Paulo']

In [79]:
x = [100, 80, 60, 40, 20, 2]

In [80]:
x

[100, 80, 60, 40, 20, 2]

In [81]:
# Ordena a lista

x.sort()

In [82]:
x

[2, 20, 40, 60, 80, 100]

# Fim